#resultBox{
    width: 100px;
    height: 100px;
}

#resultBox .column {
    border-width: 1px;
    border-color:dimgray;
    border-style: solid;
}

.empty {
    width: 10px !important;
    height: 23px;
}