<html>
<header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="game.css">
</header>

<body>
    <div id="game">
        <div class="container">
            <h1>Tic-tac-toe</h1>
            <div>
                <button v-on:click="startGame()">Start New Game Session</button>
                <button v-on:click="getGameStatus()">Load Game Session</button>
                <label for="gameid">Game Session ID</label>
                <input type="text" id="gameid" v-model="gameid">


            </div>
            <div id="resultBox">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <div id="board">
                                <div class="row">
                                    <div class="column" v-on:click="select([0,0])">
                                        <div class="empty"> {{ board[0][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([0,1])">
                                        <div class="empty"> {{ board[0][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([0,2])">
                                        <div class="empty"> {{ board[0][2]}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column" v-on:click="select([1,0])">
                                        <div class="empty"> {{ board[1][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([1,1])">
                                        <div class="empty"> {{ board[1][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([1,2])">
                                        <div class="empty"> {{ board[1][2]}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column" v-on:click="select([2,0])">
                                        <div class="empty"> {{ board[2][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([2,1])">
                                        <div class="empty"> {{ board[2][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([2,2])">
                                        <div class="empty"> {{ board[2][2]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column column-75">
                            <div v-if="!isComplete">
                                <label class="label-inline" for="nextmove">Next Move: </label>
                                <span id="nextmove" class="nextmove">{{ nextMove}}</span>
                            </div>
                            <div v-else>
                                <div v-if="result=='DRAW'">
                                    <strong class="nextmove"> Draw </strong>
                                </div>
                                <div v-if="result=='WIN-X'">
                                    <strong class="nextmove"> X wins </strong>
                                </div>
                                <div v-if="result=='WIN-O'">
                                    <strong class="nextmove"> O wins </strong>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="game.js"></script>
</body>

</html