#board{
    width: 400px;
    display: inline-block;
}
#board .row {
    flex-direction: row;
}

#board .column {
    border-width: 1px;
    border-color:dimgray;
    border-style: solid;
    text-align: center;
}

.empty {
    min-width: 10px !important;
    height: 100px;
    display:inline-block;
    vertical-align: middle;
    font-size: 80px;
    line-height: 1.15;
}

#resultBox {
    margin-left:-10px ;
    min-width: 400px;

}

.nextmove{
    font-size: 80px;
}

#gameid{
    max-width: 320px;
}
#gamemode{
    width: 320px;
    display:inline-block;
}

#currentGameType{
    margin-bottom: 20px;
}

.game-button{
    width: 170px;
    padding-left: 15px;
    padding-right: 15px;
}