#board{
    width: 300px;
    display: inline-block;
}

#board .column {
    border-width: 1px;
    border-color:dimgray;
    border-style: solid;
    text-align: center;
}

.empty {
    min-width: 10px !important;
    height: 100px;
    display:inline-block;
    vertical-align: middle;
    font-size: 80px;
    line-height: 1.15;
}

#resultBox {
    margin-left:-10px ;
}

.nextmove{
    font-size: 80px;
}

#gameid{
    max-width: 320px;
}
#gamemode{
    width: 550px;
}