<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Tic-tac-toe Game</title>
    <meta name="description" content="Tic-tac-toe Game">
    <meta name="author" content="Paul Pauzas">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="game">
        <div class="container">
            <h1>Tic-tac-toe</h1>
            <div>
                <br>
                <label for="gamemode">Choose Opponent for Your New Game:</label>
                <div id="gamemode">
                    <div class="row">
                        <div class="column">
                            <input type="radio" id="pvp" v-model="newGamemode" value="0">
                            <label class="label-inline" for="pvp">PvP</label>
                        </div>
                        <div class="column">
                            <input type="radio" id="pvai1" v-model="newGamemode" value="1">
                            <label class="label-inline" for="pvai1">PvAI lvl1</label>
                        </div>
                        <div class="column">
                            <input type="radio" id="pvai2" v-model="newGamemode" value="2">
                            <label class="label-inline" for="pvai2">PvAI lvl2</label>
                        </div>
                    </div>
                </div>
                <button class="button game-button" v-on:click="startGame()">Start New Game</button>

                <label for="gameid">Game ID</label>
                <input type="text" id="gameid" v-model="gameid">

                <button id="loadExisting" class="button button-outline game-button" v-on:click="getGameStatus()">Load
                    Existing
                    Game</button>
                <div id="currentGameType">
                    <strong>
                        <span v-if="gamemode === 0">PvP - take turns playing with your friend
                            <br> <small>(Use Game ID if sharing server)</small>
                        </span>
                        <span v-else-if="gamemode === 1">PvAI lvl1 - play against AI level 1</span>
                        <span v-else-if="gamemode === 2">PvAI lvl2 - play against AI level 2</span>
                    </strong>
                </div>
            </div>
            <div id="resultBox">
                <div class="container">
                    <div class="row">
                        <div class="column">
                            <div id="board">
                                <div class="row">
                                    <div class="column" v-on:click="select([0,0])">
                                        <div class="empty"> {{ board[0][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([0,1])">
                                        <div class="empty"> {{ board[0][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([0,2])">
                                        <div class="empty"> {{ board[0][2]}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column" v-on:click="select([1,0])">
                                        <div class="empty"> {{ board[1][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([1,1])">
                                        <div class="empty"> {{ board[1][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([1,2])">
                                        <div class="empty"> {{ board[1][2]}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column" v-on:click="select([2,0])">
                                        <div class="empty"> {{ board[2][0]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([2,1])">
                                        <div class="empty"> {{ board[2][1]}}</div>
                                    </div>
                                    <div class="column" v-on:click="select([2,2])">
                                        <div class="empty"> {{ board[2][2]}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="column column-75">
                    <div v-if="!isComplete">
                        <label class="label-inline nextmove" for="nextmove">Player Turn: </label>
                        <span id="nextmove" class="nextmove">{{ nextMove}}</span>
                    </div>
                    <div v-else>
                        <!-- DRAW -->
                        <div v-if="result==1">
                            <strong class="nextmove"> Draw </strong>
                        </div>
                        <!-- WIN-X -->
                        <div v-else-if="result==2">
                            <strong class="nextmove">Player X wins </strong>
                        </div>
                        <!-- WIN-O -->
                        <div v-else-if="result==3">
                            <strong class="nextmove">Player O wins </strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="game.js"></script>
</body>

</html